.icons {
  margin-bottom: 2em;
  display: inline-block; }
  .icons li {
    display: inline-block;
    padding-right: 2.5em; }
    .icons li:last-child {
      padding-right: 0; }
  .icons a {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-decoration: none;
    color: #525659;
    border: 2px solid #999;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 60px; }
    .icons a .fa {
      font-size: 1.6em; }
    .icons a:hover, .icons a:active {
      color: #034D2F;
      border-color: transparent; }
      .icons a:hover.icon, .icons a:active.icon {
        background-color: #C0D4C1; }
      .icons a:hover.icon-search, .icons a:active.icon-search {
        background-color: white; }
      .icons a:hover.icon-email, .icons a:active.icon-email {
        background-color: grey; }
      .icons a:hover.icon-github, .icons a:active.icon-github {
        background-color: #222; }
      .icons a:hover.icon-facebook, .icons a:active.icon-facebook {
        background-color: #3765A3; }
      .icons a:hover.icon-twitter, .icons a:active.icon-twitter {
        background-color: #5EA9DD; }
      .icons a:hover.icon-instagram, .icons a:active.icon-instagram {
        background-color: #323232; }
      .icons a:hover.icon-linkedin, .icons a:active.icon-linkedin {
        background-color: #0274B3; }

.antispam {
  display: none; }

/* label color */
.input-field label {
  color: #9e9e9e; }

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, textarea:focus + label {
  color: #034D2F !important; }

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, textarea:focus {
  border-bottom: 1px solid #034D2F !important;
  box-shadow: 0 1px 0 0 #034D2F !important; }

/* valid color */
/* icon prefix focus color */
.input-field .prefix.active {
  color: #034D2F !important; }

.icon-block {
  box-shadow: 0px 0px 70px 0px rgba(3, 77, 47, 0.45);
  padding: 2rem;
  margin: 1rem 1rem; }

.contentButton {
  display: flex;
  justify-content: center;
  align-items: center; }

.contentTitle {
  color: #034D2F; }

.contentText {
  color: #034D2F;
  font-size: 2em;
  margin: 0.5em; }
  @media only screen and (max-width: 600px) {
    .contentText {
      font-size: 2em; } }

.contentIcon {
  margin: 0; }

.mobileServiceHeader {
  display: none; }
  @media only screen and (max-width: 1000px) {
    .mobileServiceHeader {
      display: block; } }

.desktopServiceHeader {
  display: block; }
  @media only screen and (max-width: 1000px) {
    .desktopServiceHeader {
      display: none; } }

.img-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  box-shadow: 0px 0px 70px 0px rgba(3, 77, 47, 0.45);
  padding: 0;
  margin: 1rem 0rem; }

.img-wrap > img {
  width: 100%;
  height: auto; }

.mobile-button {
  display: none; }
  @media only screen and (max-width: 800px) {
    .mobile-button {
      display: inline-block; } }

.desktop-button {
  display: inline-block; }
  @media only screen and (max-width: 800px) {
    .desktop-button {
      display: none; } }

/* Custom Stylesheet */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Goudy Bookletter 1911', serif; }

#index-banner {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 600px) {
  #bottom-section {
    min-height: 30vh; } }

.mid-title {
  font-size: 2.5em;
  text-shadow: 2px 0 0 #034D2F, -2px 0 0 #034D2F, 0 2px 0 #034D2F, 0 -2px 0 #034D2F, 1px 1px #034D2F, -1px -1px 0 #034D2F, 1px -1px 0 #034D2F, -1px 1px 0 #034D2F; }
  .mid-title br {
    display: none; }
  @media only screen and (max-width: 600px) {
    .mid-title {
      font-size: 2em;
      margin-top: -10%; }
      .mid-title br {
        display: block; } }

.mobile-menu-item {
  font-size: 1.5em !important;
  padding-top: 5% !important;
  padding-bottom: 5% !important; }

.myTint .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); }

.main-logo {
  width: 100%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 6em;
  color: #034D2F;
  text-shadow: 2px 0 0 #C0D4C1, -2px 0 0 #C0D4C1, 0 2px 0 #C0D4C1, 0 -2px 0 #C0D4C1, 1px 1px #C0D4C1, -1px -1px 0 #C0D4C1, 1px -1px 0 #C0D4C1, -1px 1px 0 #C0D4C1; }
  .main-logo br {
    display: none; }
  @media only screen and (max-width: 600px) {
    .main-logo {
      font-size: 4em; }
      .main-logo br {
        display: block; } }

.main-logo-picture {
  width: 10%;
  vertical-align: middle;
  margin-top: -10px; }
  @media only screen and (max-width: 600px) {
    .main-logo-picture {
      display: none;
      margin-top: 0;
      width: 30%; } }

.sub-logo {
  font-size: 3em;
  text-shadow: 2px 0 0 #034D2F, -2px 0 0 #034D2F, 0 2px 0 #034D2F, 0 -2px 0 #034D2F, 1px 1px #034D2F, -1px -1px 0 #034D2F, 1px -1px 0 #034D2F, -1px 1px 0 #034D2F; }
  @media only screen and (max-width: 600px) {
    .sub-logo {
      font-size: 2em; }
      .sub-logo br {
        display: block; } }

.startContent {
  display: none; }

#services {
  height: 500px; }
  @media only screen and (max-width: 600px) {
    #services {
      height: auto; } }

.myButton {
  color: #C0D4C1;
  background-color: #034D2F; }

.myButton:hover {
  background-color: #07af6b; }

.myButton:focus {
  background-color: #b9fce1; }

.myLightGreen.text {
  color: #C0D4C1; }
.myLightGreen.background {
  background-color: #C0D4C1; }

.myDarkGreen.text {
  color: #034D2F; }
.myDarkGreen.background {
  background-color: #034D2F; }

.white-background {
  background-color: white; }

.footer-picture {
  width: 30%;
  height: 30%; }

.nav-logo {
  width: auto;
  height: 50px;
  margin-top: 6px; }
  @media only screen and (max-width: 992px) {
    .nav-logo {
      margin-top: 3px; } }

nav ul a,
nav .brand-logo {
  color: #444; }

p {
  line-height: 2rem; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    bottom: 0; }

  #index-banner .section {
    top: 10%; } }
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }
#contact-us-banner {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(100, 100, 100, 0.4) 65%, white 80%); }

#contact-us-container {
  vertical-align: bottom;
  position: absolute;
  bottom: 0; }

#contact-us-text {
  width: 100%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 5em;
  color: #034D2F;
  text-shadow: 2px 0 0 #C0D4C1, -2px 0 0 #C0D4C1, 0 2px 0 #C0D4C1, 0 -2px 0 #C0D4C1, 1px 1px #C0D4C1, -1px -1px 0 #C0D4C1, 1px -1px 0 #C0D4C1, -1px 1px 0 #C0D4C1; }
  @media only screen and (max-width: 600px) {
    #contact-us-text {
      font-size: 4em; } }

.serviceHeader {
  width: 100%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 5em;
  color: #034D2F;
  text-shadow: 2px 0 0 #C0D4C1, -2px 0 0 #C0D4C1, 0 2px 0 #C0D4C1, 0 -2px 0 #C0D4C1, 1px 1px #C0D4C1, -1px -1px 0 #C0D4C1, 1px -1px 0 #C0D4C1, -1px 1px 0 #C0D4C1; }
  @media only screen and (max-width: 600px) {
    .serviceHeader {
      font-size: 4em; } }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }

#outerServices {
  min-height: 100vh; }

/*# sourceMappingURL=style.css.map */
