/* Custom Stylesheet */

body {
  // background-color: #034D2F;
}

#index-banner {
  height: 90vh;
}

#bottom-section {
  @media only screen and (max-width : 600px) {
    min-height: 30vh;
  }
}

.main-logo {
  width: 100%;
}

.startContent {
  display: none;
}

#services {
  height: 500px;
  @media only screen and (max-width : 600px) {
    height: auto;
  }
}

.myButton {
  color: #C0D4C1;
  background-color: #034D2F;
}

.myButton:hover{
  background-color: lighten(#034D2F, 20%);
}

.myButton:focus{
  background-color: lighten(#034D2F, 70%);
}

.myLightGreen {
  &.text {
    color: #C0D4C1;
  }
  &.background {
    background-color: #C0D4C1;
  }
}

.myDarkGreen {
  &.text {
    color: #034D2F;
  }
  &.background {
    background-color: #034D2F;
  }
}

.white-background {
  background-color: white;
  // width: 100%;
}

.footer-picture {
  width: 30%;
  height: 30%;
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-top: 6px;
  @media only screen and (max-width : 992px) {
    margin-top: 3px;
  }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
